
/* css cart-icon */
 *{
          margin: 0px;
          padding: 0px;
        }
.badge-notify{
    background:red;
    position:relative;
    top: -20px;
    right: 10px;
  }
.cart-icon{
  margin-top:50px;
  position: fixed;
  top: 0;
  z-index: 9999;
  }
/* share button */
        .icon-bar1 {
  z-index:9999;
  position: fixed;
  top: 51%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar1 a {
  display: block;
  text-align: center;
  padding: 10px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar1 a:hover {
    background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}


        body {
          margin: 0;
          padding: 0;
          text-align: center;
          background-color: #ECECEC;
          background: url(./images/background-body.jpg);
          }
        /* css header */
        #header-web{
          text-align: center;
          top: 0;
          left: 0;
          background:url(images/header-background.png) ;
          background-size: cover;
          padding-bottom:20px;
        }
        
      #logo-header{
        margin-top:-10px;
        max-width:200px;
        display: block; 
        margin-left: auto; 
        margin-right: auto;

    }
    #user-bar {
      float:right; 
      text-align: right;
      margin-right:50px;
    }
    #user-bar img{
      width:15px ;
      height:15px;
      margin-bottom: 5px ;
    }
        
    #user-bar li{       
      display: inline-block;
      padding-top:10px;
      margin-left:5px;
    }
    #user-bar a{
      text-decoration: none;
      color:black;
    }
    #user-bar a:hover{
      color:red;
      opacity:0.7;
    }
    #searching{
      margin-top:20px;
      margin-bottom:10px;
      width: 100%;
      height: 30px;
      background-color:white;
      border: 1px solid #d1d1d1;
      border-radius: 20px;
      box-shadow: 0 1px 3px  rgba(0,0,0,0.2) inset;
      padding: 6px 15px;
      font:bold 12px Arial,Helvetica,sans-serif; 
      border-radius: 10px 10px 10px 10px
    }
    #searching-button{
      margin-top:23px;
      margin-bottom:10px;
      margin-right:25px;
      width: 25px;
      height: 25px;
      position: absolute;
      border: 0;
      z-index: 99;
      right: 0px;
      top: 0;
      cursor: pointer;
      background: url(picture/698956-icon-111-search-128.png) no-repeat white;
    }
    .icon-search{
      margin-bottom:-40px;
      margin-top:15px;
      font-size:15px; 
    }
    .icon-search a{
      text-decoration: none;
    }
    .icon-search p{
      color: #ffffff;
    }
    @media (min-width: 992px){
      .carousel-inner>.item>img{
            width:100%;
            height:400px;           
            }
          }

    @media (max-width: 991px) and (min-width:576px){
      .carousel-inner>.item>img{
            width:100%;
            height:350px;           
            }
      .icon-search{
        display:none;
            }
      .icon-bar1{
        display:none;
      }
      }
    @media (max-width: 576px){
      #user-bar .user-bar1{
        display:none;
      }
      .carousel-inner>.item>img{
            width:100%;
            height:200px;           
      }
      .icon-search{
        display:none;
      } 
      .icon-bar1{
        display:none;
      }
    }

/* css menu */
         .navbar-default{
          margin:0;
        }
        .name-bar {
            float: left;
            height: 30px;
            padding-top:5px;
            margin-left:100px;
        }
        .name-bar-image{
            background: url('picture/anh-menu-1.png'); 
            background-size: cover;
            height: 40px;
            width: 40px;
        }
        .name-bar-image:hover{
            background: url('picture/anh-menu-2.png'); 
            background-size: cover;
            height: 40px;
            width: 40px;
        }
        .navbar-nav {
            float: left;    
        }
        .name-bar:hover,
        .name-bar:focus {
            color: red;
            text-decoration: none;
        }
        
        .navbar-default li:hover > ul
        {
            display:block;
        } 
        .nav-3 {
          background: #EEA200;
        }
        .link-3:hover {
          background-color: #ffffff;
          text-decoration: none;
          color: #EEA200;
        }
        .link-3 {
          transition: 0.4s;
          color: #ffffff;
          font-size: 20px;
          text-decoration: none;
        }
        .navbar-default .navbar-nav > li b {
          display: block;
          bottom: -10px;
          z-index: 3;
          width: 0%;
          height: 3px;
          -webkit-transition: 0.5s;
          -moz-transition: 0.5s;
          -o-transition: 0.5s;
          transition: 0.5s;
          left: 0;
        }
        .navbar-default .navbar-nav > li:hover b {
          width: 100%;
        }
        .bg-color-2 {
          background-color: #ea7066;
        }
        #My-Navbar li a{
          font-size: 18px;
          font-family: 'Hammersmith One', san-serif;
          font-weight: bold
          
        }
          @media (max-width: 1200px) {
            #My-Navbar  li  a{
              margin:0px;
              padding-left:0px;
              padding-right:0px;
              font-size: 17px;
              }
            
            #My-Navbar  li {  
              padding-right: 10px;
              }
              }
          @media (max-width: 991px) {
            .name-bar{
              margin-left: 0px;
              margin-right: 0px;
              padding-left: 0px;
              padding-right: 0px;
            }
            #My-Navbar  li a{
              margin:0px;
              padding-left:0px;
              padding-right:0px;
              font-size: 14px;
              }
            #My-Navbar > li {
              padding-right: 5px;
              }
            .imageproductsmall{
              display:none;
              }
              }
          .navbar-default{
            position: -webkit-sticky; 
            position: sticky;
            top: 0;
            z-index: 100;
            background-color:#ffbf00;
          }
          .navbar-default ul ul,
          .navbar-default li:hover > a,
          .navbar-default a:hover {
            opacity:0.9;
          }
          .slibar{
             width:100%;
          }
          
          /* FORM ĐĂNG NHẬP, ĐĂNG KÝ */
.modal-title{
  color:#8e5f13;
}
.modal-sm{
  width:400px;
}
 
.input-user {
  margin: 30px 25px;
  width: 300px;
  display: block;
  border: none;
  padding: 10px 0;
  border-bottom: solid 1px #1abc9c;
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #1abc9c 4%);
  background-position: -200px 0;
  background-size: 200px 100%;
  background-repeat: no-repeat;
  color: #0e6252;
}
 .input-user:focus, .input-user:valid {
  box-shadow: none;
  outline: none;
  background-position: 0 0;
}
.input-user:focus::-webkit-input-placeholder, .input-user:valid::-webkit-input-placeholder {
  color: #1abc9c;
  font-size: 11px;
  transform: translateY(-15px);
  visibility: visible !important;
}
          
          
/* Thang them */
div.categoryName {
  float: left;
  font-family: 'Bree Serif', serif;
  font-size: 200%;
  color: #ff4300;
}
div.viewMoreButton button{
  float: right;
  margin-top: 10px;
  margin-right: -10px;
}
.btn-danger {
  font-family: 'Skranji', cursive;
}
/* hover san pham */
.box {
  height: 260px;
  overflow: hidden;
  background: #222233;
  z-index: -1;
}
.box img {
  width: 100%;
  transition: 0.5s;
}

img.productInfo {
  padding: 2px;
  position: absolute;
  top: 30%;
  left: 10%;
  height: 50px;
  width: 50px;
  visibility: hidden;
  transition: 0.5s;
  opacity: 0.8;

}
img.productCart {
  padding: 2px;
  position: absolute;
  top: 30%;
  right: 10%;
  height: 50px;
  width: 50px;
  visibility: hidden;
  transition: 0.5s;
  opacity: 0.8;
}


.col-sm-3:hover img.productImages{
  opacity: 0.1;
  transform: scale(1.1)rotate(-2deg);
}
.col-sm-3:hover img.productInfo {
  visibility: visible;
  left: 30%;
}
.col-sm-3:hover img.productCart {
  visibility: visible;
  right: 30%;
}
img.productInfo:hover {
  opacity: 1;
  background: #4c3e39;
}

img.productCart:hover {
  opacity: 1;
  background: #4c3e39;
}
h2.productName {
  font-family: 'Chewy', cursive;
  font-size: 170%;
}

.panel {
  margin: 0;
  padding: 0;
}
.titleProduct {
              font-family: 'Lato';
              font-size: 200%;
              font-weight: bold;
              color: red;
              text-align: left;
            }
.titleProduct > img {
  float: right;
}
.panel-heading {
  font-weight: bold
}
.panel-footer {
  font-style: italic;
}
   footer {
background-color: #3B3B3B;
} 
.titleProduct {
              font-family: 'Lato';
              font-size: 150%;
            }
          div > h3,p {
              font-family: Verdana;
            }
             /* menu dọc */
            
            #menu-doc{
                background-color:#FEF7AD ;
                border: 1px solid #CCCCCC;
                margin-top: 30px;
                border-radius: 6px;
            }
          #menu-doc ul{
            list-style-type: none;
            text-align: center;
             padding: 0px 20px 0px 20px;
           }
          #menu-doc li{
            
            
              height: 40px;
              padding-top: 8px;

          }
          #menu-doc a {
              text-decoration: none;
              display: block;
              text-align: left;
              margin-left: 10px;
              color: black;

          }
          #menu-doc a:hover{
            color:#42f486;
            font-size:19px;
          }
          #menu-doc ul li{
            border-bottom: 1px solid #CCCCCC;
          }

      /* css footer */
          #footer {
          text-align: left;
          
          }
          #footer a {
            color:#EAEAEA ;
          }
          #footer a:hover{
            color: white;
          }
          #footer h4{
            color: white;
            font-size:20px;
          }
           #footer p {
            color:#EAEAEA ;
          }
/* thong tin san pham */
#imageproduct1, #imageproduct2, #imageproduct3:hover{
cursor:pointer;  
}
.zoom {
display:inline-block;
position: relative;
}
.zoom img {
display: block;
}
.zoom img: selection { 
  background-color: transparent; 
}
    